    <h1>Upload Baby</h1>

    <div>
        <form action="/upload" method="POST" enctype="multipart/form-data">
        <select type="text" name="Hats" id="hatSelect">
            <option value="none">None</option>
        </select>
        <input type="file" name="file" id="file" class=""> 
        <input type="submit" value="Submit">
        </form>
    </div>

